
.about-top-right-wrapper{
    margin-left: 20px;
    padding-top: 40px;


}
.about-right-top-text{
    width: 680px;

}
.about-right-top-text1{
    color: #830056;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 20px;
  text-transform: uppercase;

}
.about-right-top-text2{
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;

}
.about-right-top-text3{
    font-size: 18px;

}
.about-right-middle-text{
    
}
.about-right-middle-text ul{
    list-style: none;
  text-decoration: none;
  text-align: left;
  padding-top: 20px;
  position: relative;
  right: 30px;
  
}
.about-right-middle-text li span{
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 600;
    line-height: 70px;
    text-transform: uppercase;
    
}
.about-right-middle-text li i{
    font-size: 24px;
width: 30px;
}

.about-top-left-img{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    right: 20px;
    

}

.about-left-img-bottom{
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 668px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 36px;

}

.about-left-img-bottom-text{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 15px;
    
}
.about-left-img-bottom-text1{
    font-size: 17px;
    
    
}
.about-left-img-bottom-text2{
    font-size: 32px;
  text-transform: uppercase;
  font-weight: 600;
    
}
.about-left-img-bottom-icone{
    position: absolute;
    z-index: -11111;
    bottom: -2px;
    left: 194px;



}
.about-left-img-bottom-icone i{
    font-size: 70px;
    opacity: 0.5;
      
}

.s-border {
    border-right: 1px dashed black;
}


.about-middle-strip{
    height: 150px;
    width: 100%;
    background-color: #830056;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;
}
.about-app-btn{
    background-color: white;
    color: #830056;
}
.about-middle-strip-contant{
    margin-left: 20px;
    margin-right: 20px;
}
.about-middle-strip-right{
    display: flex;
    margin-left: 20px;

}
.middle-strip-right-contant{
    display: flex;
    gap: 20px;
}
.middle-strip-right-contant i{
 font-size: 40px;
}
.strip-right-contant-text{
    display: flex;
flex-direction: column;

}
.about-middle-strip-left{
    margin-right: 20px;

}
.about-middle-strip-left-contant{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.strip-line{
    width: 73px;
    height: 1px;
    background-color: white;
}

.about-doctor-section-wrapper{
    margin-left: 20px;
    margin-right: 20px;

}

.about-doctor-img{


}
.about-doctor-img{
    position: relative;
    z-index: -1111;

}
.about-doctor-img .doc-img{
    width: 100%;
    height: 850px;
    position: relative;
    z-index: -1111;
    left: 10px;

}

.doc-circle{
    position: absolute;
    z-index: 1;
    width: 120px;
    height: 120px;
    animation: circle 7s linear infinite;
    left: 505px;
  top: 259px;
}

@keyframes circle {
    0%{
       transform: rotate(0deg);
      }
   100%{
       transform: rotate(360deg);
      }
   }
.about-doctor-img-text{
    position: absolute;
    z-index: 1;
    background-color: white;
    bottom: 53px;
    width: 496px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 23px;

}
.about-doctor-img-text .doc-img-text1{
    display: flex;
    margin-left: 20px;
    width: 450px;

    
}

.about-doctor-right {
    margin-top: 142px;
    padding: 20px;
  }

.doctor-right-top{
 width: 570px;
    padding-bottom: 34px;


}
.doctor-right-top-text1{
    color: #830056;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 30px;
  text-transform: uppercase;


}
.doctor-right-top h1{
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.doctor-right-top-text3{
    font-size: 18px;
}

.doctor-right-middle{
    padding-bottom: 25px;

}
.doctor-right-middle ul{
    list-style: none;
  text-align: left;
  padding-left: 4px;

}
.doctor-right-middle ul li{
  
}
.doctor-right-middle ul li i{
    font-size: 24px;
  width: 30px;
}

.doctor-right-middle ul li span{
    font-size: 24px;
  letter-spacing: 2px;
  font-weight: 600;
  line-height: 70px;
  text-transform: uppercase;

}
.doctor-right-bottom{
    padding-bottom: 50px;

}
.clg-img{
    width: 233px;
    height: 57px;
}

.about-doctor-btn button{
    width: 245px;

}

.about-counter{
    width:100% ;
    height: 320px;
    background-image: url(../images/about/about-counter-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #FFF7F1;
     display: flex;
    justify-content: center;
    align-items: center;
    mix-blend-mode: luminosity;
   
    
}
.doc-counter-text{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-right: 1px dashed black;
}
.doc-counter-text1{
    font-size: 90px;
    font-weight: 900;
    line-height: 110px;
    color: #830056;
    mix-blend-mode: color-burn;

}
.doc-counter-text2{
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
font-weight: 600;
    
}


.about-svg-wrapper1{
    position: relative;
  right: -1100px;
  bottom: 430px;
}
.about-svg-wrapper1 svg{
    overflow: hidden;
    position: absolute;
    z-index: -11111111;
    width: 806px;
    height: 942px;
    
}


@keyframes line-path1 {
    from {
        stroke-dashoffset: 360;
    }
    to {
        stroke-dashoffset: 0;
    }
  }

  .about-svg-2{
    position: relative;
    right: 418px;
    bottom: 138px;

  }
  .about-svg-2 svg{
    overflow: hidden;
  position: absolute;
  z-index: -11111111;
  width: 778px;
  height: 367px;
    
  }
  .svg-path {
    fill: none;
    stroke: currentColor;
    stroke-width: 0.1px;
    stroke-linecap: butt;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 1;
    stroke-dasharray: 350;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: line-path2 4s linear infinite alternate;
  }
  
  @keyframes line-path2 {
    to {
      stroke-dashoffset: 350;
    }
  }

  .about-svg3{
    position: relative;
    right: 345px;
    bottom: 245px;

  }
  .about-svg3 svg{
    overflow: hidden;
  position: absolute;
  z-index: -11111111;
  width: 655px;
  height: 617px;
  transform: rotate(50deg);
  }

  .about-sbg-wrapper3{
    position: relative;
  right: -1266px;
  bottom: 624px;

  }
  .about-sbg-wrapper3 svg{
    overflow: hidden;
  position: absolute;
  z-index: -11111111;
  width: 652px;
  height: 440px;
  }

