*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff7f1;
   
    overflow-x: hidden;
}

/* top header */
.top-header{
    padding: 7px;
    margin-left: 10px;
    margin-right: 10px;
}
.top-header-wraper hr{
position: relative;
bottom: 10px;
}
.icones-wraper{
    display: flex;
    gap: 5px;
    float: right;
    margin-top: 14px;
}
.icones{
    width: 25px;
    background-color: rgba(131,0,86,255);
    height: 25px;
    text-align: center;
    border-radius: 50%;
    color: white;
  
}

/*header top ends */

/* navbar starts */
.navbar-wraper{
    position: relative;
    bottom: 30px;
}

.navbar{
    margin-left: 10px;
    margin-right: 10px;
}

.logo{
    width: 150px;
    height: 150px;
    position: relative;
    bottom: 25px;
}

.nav-items-wrapper{
    position: relative;
    bottom: 25px;

}
.nav-items{
    display: flex;
    list-style: none;
   justify-content: center;
   gap: 5px;
}
.nav-item{
font-size: 18px;
font-weight: 600;
width: 150px;
text-align: center;

}
.down-arrow{
  position: relative;
  top: 2px;
}
.appointment-btn-wrapper{
   display: flex;
   float:right;
   position: relative;
   bottom: 30px;
}

.appointment-btn-wrapper button{
    width: 230px;
    height: 45px;
    padding: 5px;
    background-color: rgba(131,0,86,255);
    color: white;
    font-size: 15px;
    font-weight: 600;
    border: none;
    outline: none;

}
.appointment-btn-wrapper button:hover{
    background-color: #d844a7; 
    transition: 1s ease;

}

/* home main starts */
.hidden {
  display: none;
}
.home-wraper{
  display: flex;
  width: 100%;

}

.home-left{
  display: flex;
  flex-direction: column;
}
.home-left-bg img {

}
.home-left-bg img {
  position: absolute;
  bottom: -205px;
  z-index: -1111;
  height: 804px;
  width: 727px;
}
.home-content-wraper{
  padding: 10px;
  /* padding-top: 30px; */
}
.home-content{
  width: 85%;
  padding: 10px;
  margin-left: 20px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;

}
.home-content-text1{
  color: rgba(131,0,86,255);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 50px;
  text-transform: uppercase;
}
.home-content-text2{
  font-size: 20px;
  font-weight: 600;
  color: #a92a7e;
}
.home-content-text3{
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.home-content-text4{
  font-size: 20px;
  text-transform: capitalize;

}
.home-content-text5{
  font-size: 20px;
  font-weight: 600;

}

.home-btn button{
  width: 190px;
    height: 45px;
    padding: 5px;
    background-color: rgba(131,0,86,255);
    color: white;
    font-size: 15px;
    font-weight: 600;
    border: none;
    outline: none;
    text-transform: uppercase;
    margin-left: 24px;
    
}
.right-img img {
  position: relative;
  z-index: 111;
  width: 1182px;
  right: 0;
  bottom: 35px;
}

.home-right{

  
}
.home-btn{

}
.home-rating{
padding: 10px;
padding-left:24px ;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}


.right-overlay{

}
.star-wrapper{
  font-size: 20px;
  font-weight: 700;

}
.star-wrapper i{
 color: orange;

}

.rating-text{
  font-size: 17px;

}
.right-overlay img {
  position: absolute;
  width: 50%;
  z-index: -1;
  right: 0px;
  bottom: -170px;
}

/* ends */
  
.pb-100{
    padding-bottom: 100px;

}
.top-services-section{
    width: 100%;
    padding-top: 10px;
    
}
.top-ssrvices{
gap: 2px;
    display: flex;
}
.top-service1 {
  background: linear-gradient(to right, rgba(131,0,86,255) 50%, #a92a7e 50%);
  background-size: 200% 100%;
  width: 386px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  color: white;
  transition: background-position 0.3s ease;
}

.top-service1:hover {
  background-position: -100% 0;
}
.bb{
  background-position: -100% 0;
}
.top-services-icone{
    font-size: 40px;

}
.top-services-text{
    font-size: 16px;
    font-weight: 550;
    letter-spacing: 5px;

}

.appointment-section input::placeholder{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 17px;
    
}
.form-top-part{
    display: flex;
    gap: 50PX;
    padding-bottom: 70px;
    margin-left: 30px;

}
.name{
 border-bottom: 1px solid rgba(131,0,86,255);
 font-size: large;

}
.name input{
    border: none;
    outline: none;
    background: transparent;
    color: black;
    width: 320px;  
}

.reason{
    border-bottom: 1px solid rgba(131,0,86,255);
    font-size: large;    
}
.reason input{
    border: none;
    outline: none;
    background: transparent;
    color: black;
    width: 550px;  
    }

.form-bottom{
    display: flex;
    gap: 50PX;
    margin-left: 30px;
}

.email{
    border-bottom: 1px solid rgba(131,0,86,255);
    font-size: large;  

}
.email input{
    border: none;
    outline: none;
    background: transparent;
    color: black;
    width: 320px; 

}
.date{
    border-bottom: 1px solid #830056;
    font-size: large;  

}
.date input{
    border: none;
    outline: none;
    background: transparent;
    color: black;
    width: 320px; 

}

.b-slot-content{
    display: flex;
    flex-direction: column;
    float: right;
    position: relative;
    bottom: 10px;

}

.b-slot-text{
    font-size: 40px;
    width: 250px;
    text-transform: uppercase;
    font-weight: 650;

}

.appointment-btn{
    width: 230px;
    height: 45px;
    padding: 5px;
    background-color: #830056;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border: none;
    outline: none;
}


.svg-wrapper{
  position: relative;
  bottom: 310px;
}

.svg-wrapper svg{
  overflow: hidden;
  position: absolute;
  z-index: -1;
  width: 938px;

  
}

.svg-wrapper2 {
  position: relative;
  right: 238px;
  bottom: 234px;
}

.svg-wrapper2 svg{
  overflow: hidden;
  position: absolute;
  z-index: -1;
  width: 338px;

  
}

.svg-wrapper3{
  position: relative;
  right: -491px;
  bottom: 425px;
}

.svg-wrapper3 svg{
  overflow: hidden;
  position: absolute;
  transform: rotate(-20deg);
 
}

.svg-wrapper4 {
  position: relative;
  right: 628px;
  bottom: 1163px;
}
.svg-wrapper4 svg{
  overflow: hidden;
  position: absolute; 
  transform: rotate(-180deg);
  color:#fff7f1 ;
}

@keyframes line-path {
  from {
      stroke-dashoffset: 360;
  }
  to {
      stroke-dashoffset: 0;
  }
}
.home-services-wrapper{
background-color: #f5efee;
padding-top: 100px;
padding-bottom: 100px;
}
.services-top{
    margin-left: 20px;
    padding-bottom: 50px;

   
}

.service-top-texts1{
color: #830056;
font-size: 16px;
font-weight: 600;
letter-spacing: 3px;
line-height: 50px;
}
.service-top-texts2{
font-size: 40px;
font-weight: 700;
letter-spacing: 2px;
}
.service-top-texts3{
    font-size: 20px;
}

.services-arrow-wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.services-arrow{
    width: 50px;
    height: 50px;
    background-color: #830056;
    font-size: 30px;
    border-radius: 50%;
    text-align: center;
    margin-right: 20px;
    color: white;
    cursor: pointer;
}

.s-card-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  gap: 60px;
  margin-left: 20px;

}

.s-card-text{
width: 100%;
display: flex;
justify-content: space-between;
text-align: center;
align-items: center;
position: relative;
bottom: 10px;
}
.s-card-text1{
    font-size: 80px;
    font-weight:700;
    color: #f0a0d5;

}
.s-card-text2{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 3px;

}

/* zoom on hover  */

.img-wrapper{  
    width: 450px;
    height: 600px;
    overflow: hidden; 
  }
  
  .inner-img {
    height: 650px;
    transition: 0.5s;
  }
  
  .inner-img:hover {
    transform: scale(1.1);
  }
  /*  */
  .s-card{
    position: relative;
    bottom: 50px;

  }
  .img-wrapper1{  
    width: 450px;
    height: 500px;
    overflow: hidden; 
   
  }
  
  .inner-img1 {
    height: 600px;
    width: 600;
    transition: 0.5s;
    transform: scale(1.1);
  }
  
  .inner-img1:hover {
    transition: 0.5s;
    transform: scale(1);

    
  }
  
.h-a-img{
    width: 100%;
}
/* home about */


.home-about-wrapper{
    display: flex;


}
.home-about-wrapper-img{
width: 50%;

}
.home-about-text{
width: 50%;
padding-left: 50px;
padding-right: 50px;
padding-top: 60px;
background-color: #3b281fda;
background-image: url(https://sirpi.wpengine.com/wp-content/uploads/2023/05/Sirpi-Col-Img-overlay-1.png);
color: white;

}
.home-about-img{
    height: 800px;
    width: 100%;
    
}

.home-about-top{
    padding-bottom: 50px;

}
.home-about-top h1{
    font-size: 40px;
    font-weight: 700;
 

}
.home-about-top-text1{
    font-size: 16px;
    font-weight: 700;

}
.home-about-top-text3{
    font-size: 17px;
}

.home-about-middle ul{
    list-style: none;
    text-decoration: none;
    text-align: left;
    padding-top: 20px;
    position: relative;
  right: 20px;
}
.home-about-middle ul li{
   font-size: 35px;
   line-height: 70px;

}

.home-about-bottom{
    padding-top: 20px;
}




/* tritment cards */

     
.contaner{
  display: flex;
}

.card{
  height: 500px;
  width: 600px;
  overflow: hidden;
}
.card-container {
  position: relative;
  margin: 10px;
  overflow: hidden;
  border-radius: 10px;
}
.card-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 3, 3, 0.5); /* Adjust opacity for desired cover effect */
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}
.card img{
  height: 500px;
  width:600px;
 transition: 2s;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(54, 53, 53, 0.5), rgba(98, 96, 96, 0.5)); 

  mix-blend-mode: overlay; /* Blend mode */
}
.overlay1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(88, 83, 83);
  mix-blend-mode: overlay; /* Blend mode */
}

.intro {
  height: 70px;
  width: 600px;
  box-sizing: border-box;
  position: absolute;
  bottom: 20px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
}

.intro h1 {
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;

}
.intro p {
  font-size: 25px;
  visibility: hidden;
  opacity: 0;
  transition: 1s;
  width: 400px;
}
.card:hover {
  cursor: pointer;
}
.card:hover .intro {
  height: 220px;
  bottom: 100px;
}
.card:hover p {
  opacity: 1;
  visibility: visible;
}

.in-view{
  transition: 2s;
  transform: scale(1.1);
}

.card-arrow {
  width: 60px;
  background-color: rgb(91, 31, 86);
  height: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.btn-wrapper1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  visibility: hidden;
  opacity: 0;
}
.card:hover .btn-wrapper1 {
  opacity: 1;
  visibility: visible;
}
/* end */

.tritment-img-wrapper {
  position: relative; /* Added */
  overflow: hidden;
  width: 45%;
}

.treatment-bottom img {
  transform: scale(1.05);
  width: 100%;
  transition: all .5s ease;
}

.treatment-bottom img:hover {
  transform: scale(1);
  transition: all .5s ease;
}

.tritment-strip {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px; /* Added */
  background-color: rgb(47, 47, 47); /* Brown color strip */
  opacity: 0.6; /* Initially hidden */
  transition: opacity 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tritment-img-wrapper:hover .tritment-strip {
  opacity: 0.9; /* Show strip on hover */
  background-color: #830056;
}

.strip-text {
  color: white;
  padding: 5px 10px; 
  font-size: larger;
  
}

/* end */

/* middle strip */
.middle-strip{

  height: 10vh;
  background-color: #830056;
}

/* portfolito afterbefore */

.portfolio-top{
    padding-bottom: 60px;
}
.portfolio-top-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.portfolio-top-text h1{
    font-size: 40px;
font-weight: 700;
letter-spacing: 2px;
 
}
.portfolio-top-text1{
    color: #840057;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 50px;
   
}
.portfolio-top-text3{
  text-align: center;
  width: 700px;
  font-size: 20px;
}

/* after before css 1 */

img{
  display: block;
  max-width: 100%;
}

main {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.ab-container {
  display: grid;
  place-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  --position: 50%;
}

.ab-image-container {
  max-width: 900px;
  max-height: 95vh;
  aspect-ratio: 1/1;
}

.ab-slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.ab-image-before {
  position: absolute;
  inset: 0;
  width: var(--position);
}

.ab-slider {
  position: absolute;
  inset: 0;
  cursor: pointer;
  opacity: 0;
  /* for Firefox */
  width: 100%;
  height: 100%;
}

.ab-slider:focus-visible ~ .ab-slider-button {
  outline: 5px solid black;
  outline-offset: 3px;
}

.ab-slider-line {
  position: absolute;
  inset: 0;
  width: .2rem;
  height: 100%;
  background-color: #fff;
  /* z-index: 10; */
  left: var(--position);
  transform: translateX(-50%);
  pointer-events: none;
}


.ab-slider-button {
  position: absolute;
  background-color: #fff;
  color: #d25239;
  padding: .5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  top: 50%;
  left: var(--position);
  transform: translate(-50%, -50%);
  pointer-events: none;
  width: 70px;
  height: 70px;
}

.ab-slider-button:hover {
  background-color: #d25239;
  color: white;
}
  /*  */

 
img{
  display: block;
  max-width: 100%;
}

main {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.ab1-container {
  display: grid;
  place-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  --position: 50%;
}

.ab1-image-container {
  max-width: 900px;
  max-height: 95vh;
  aspect-ratio: 1/1;
}

.ab1-slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.ab1-image-before {
  position: absolute;
  inset: 0;
  width: var(--position);
}

.ab1-slider {
  position: absolute;
  inset: 0;
  cursor: pointer;
  opacity: 0;
  /* for Firefox */
  width: 100%;
  height: 100%;
}

.ab1-slider:focus-visible ~ .ab1-slider-button {
  outline: 5px solid black;
  outline-offset: 3px;
}

.ab1-slider-line {
  position: absolute;
  inset: 0;
  width: .2rem;
  height: 100%;
  background-color: #fff;
  /* z-index: 10; */
  left: var(--position);
  transform: translateX(-50%);
  pointer-events: none;
}


.ab1-slider-button {
  position: absolute;
  background-color: #fff;
  color: #d25239;
  padding: .5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  top: 50%;
  left: var(--position);
  transform: translate(-50%, -50%);
  pointer-events: none;
  width: 70px;
  height: 70px;
}

.ab1-slider-button:hover {
  background-color: #d25239;
  color: white;
}


/* experience section  */
.exp-wrapper{ 
    display: flex;
    
}
.exp-left-section{
    width: 50%;
    background-color: #3b281fda;
    background-image: url(https://sirpi.wpengine.com/wp-content/uploads/2023/05/Sirpi-Col-Img-overlay-1.png);
    color: white;
    padding-left: 50px;
  padding-right: 50px;
  padding-top: 60px;

}
.exp-left-section hr{
padding-bottom: 30px;
}
.exp-top-text{
    width: 680px;
    padding: 20px;
    margin-top: 50px;
    padding-bottom: 40px;

}
.exp-top-text1{
    font-size: 16px;
    font-weight: 700;

}
.exp-top-text h1{
    font-size: 40px;
    font-weight: 700;

}
.exp-top-text3{
    font-size: 17px;

}
.exp-right-section{
    width: 50%;

}
.exp-img{
width: 100%;
}

.exp-option-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.exp-option{
    width: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 60px;
    text-align: left;
    gap: 2rem;
    padding-bottom: 42px;

}
.exp-option-icone-wraper{
    width: 100px;
    height: 80px;
    background-color: brown;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;


}
.exp-option-text{
    display: flex;
    flex-direction: column;

}
.exp-option-text1{
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2px;


}
.exp-option-text2{
    font-size: 16px;

}

/* doctors css */
.doctor-top-text{
padding-bottom: 60px;
}
.doctor-top-text h1{

  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px;
}

.doctor-top-text1{
  color: #840057;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 50px;
  text-transform: uppercase;

}
.doctor-top-text2{
  text-align: center;
  width: 700px;
  font-size: 20px;

}

.doctor-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.d-img-wrapper{
  width: 300px;
  height: 400px;
  overflow: hidden; 

}
.d-img-wrapper img{
height: 400px;
transition: 0.5s;
transform: scale(1.1);
cursor: pointer;
}

.d-img-wrapper img:hover{
  transform: scale(1);
  
  }
.d-text{
  display: flex;
  flex-direction: column;

}
.d-text1{
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1px;

}
.d-text2{
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;

}

/* review sectio */
.review-wrapper{
  background-image: url(https://sirpi.wpengine.com/wp-content/uploads/2023/05/testimonial-imagw-01.png);
  background-repeat: no-repeat;
  background-size: cover;
background-color: #f5efee;
padding-bottom: 50px;

}
.review-top{
width: 100%;
padding-top: 100px;

}
.review-top-text{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.review-top-text1{
  color: #840057;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 50px;
  text-transform: uppercase;

}
.review-top-text2{
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;

}


.testimonial-container {
  width: 80%;
  margin: 50px auto;
  position: relative;
  overflow: hidden;

}

.testimonial-slide {
  display: none;
}

.testimonial-slide.active {
  display: block;
}

.testimonial {
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  transition: 2s ease;
}

.testimonial p {
  font-size: 27px;
  margin-bottom: 10px;
}

.testimonial-name {
  font-weight: bold;
}

/* insta section */

.insta-post{
width: 100%;

}

.insta-post img{
  width: 100%;
  height: 300px;
}
.inta-post-section{
  display: flex;
}


/* responsive code  */

@media screen and (max-width: 1450px) {
  .s-card-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
  }
  
}

@media screen and (max-width: 1426px) {
  .s-card-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
  }

  figure {
    position: absolute;
    background-image: url(https://sirpi.wpengine.com/wp-content/uploads/2023/06/home-3-before.webp);
    background-size: cover;
    font-size: 0;
    width: 100%;
    height: 92%;
    margin: 0;
  }
  .exp-img {
    width: 100%;
    height: 100%;
  }
  
}

@media screen and (max-width: 1498px) {
  .right-overlay img {
    position: absolute;
    width: 50%;
    z-index: -1;
    right: 0px;
    bottom: -159px;
  }
  
}
@media screen and (max-width: 1452px) {
  .right-overlay img {
    position: absolute;
    width: 50%;
    z-index: -1;
    right: 0px;
    bottom: -145px;
  }
 
}
@media screen and (max-width: 1422px) {
  .right-overlay img {
    position: absolute;
    width: 50%;
    z-index: -1;
    right: 0px;
    bottom: -138px;
  }
  
}


