* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff7f1;

  overflow-x: hidden;
}

/* top header */
.top-header {
  padding: 7px;
  margin-left: 10px;
  margin-right: 10px;
}
a {
  text-decoration: none;
  color: black;
}
.top-header-wraper hr {
  position: relative;
  bottom: 10px;
}
.icones-wraper {
  display: flex;
  gap: 5px;
  float: right;
  margin-top: 14px;
}
.icones {
  width: 25px;
  background-color: rgba(131, 0, 86, 255);
  height: 25px;
  text-align: center;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}

.icones:hover {
background-color: white;
color:rgba(131, 0, 86, 255);
}
/*header top ends */

/* navbar starts */
.navbar-wraper {
  position: relative;
  bottom: 30px;
}

.navbar {
  margin-left: 10px;
  margin-right: 10px;
}

.logo {
  width: 150px;
  height: 150px;
  position: relative;
  bottom: 25px;
}

.nav-items-wrapper {
  position: relative;
  bottom: 25px;
}
.nav-items {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 5px;
}
.nav-item {
  font-size: 18px;
  font-weight: 600;
  width: 150px;
  text-align: center;
  position: relative;
  transition: 0.5s ease;
}

.nav-item:hover {
  color: #79225c;
  transition: 0.3s ease;
}

.submenue{
  position: absolute;
  width: 210px;
  left: 0;
  display: none;
  background-color: white;
  color: black;
  z-index: 1111111;
  border-top: 2px solid brown;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.submenue li {
  list-style: none;
  text-align: left;
  line-height: 40px;
  font-size: 16px;
  text-transform: uppercase;
  transition: 1.3s ease;
  
}

.submenue li a:hover {
  color: #5B0539;
  letter-spacing: 0.2px;
  transition: 0.3s ease;

  
}

.submenue2 {
  z-index: 1111111;
  position: absolute;
  left: 100%;
  width: 210px;
  background-color: rgba(244, 219, 226, 0.893);
  display: none;
  top: 0; 

}
.submenue2 a {
  color: rgb(0, 0, 0);
  
}

.submenue3 {
  z-index: 1111111;
  position: absolute;
  left: 100%;
  width: 290px;
  background-color: rgba(244, 219, 226, 0.893);
  display: none;
  top: 40px;
}
.submenue4 {
  z-index: 1111111;
  position: absolute;
  left: 100%;
  width: 310px;
  background-color: rgba(244, 219, 226, 0.893);
  display: none;
  top: 80px;
}
.submenue5 {
  z-index: 1111111;
  position: absolute;
  left: 100%;
  width: 210px;
  background-color: rgba(244, 219, 226, 0.893);
  display: none;
  top: 120px;
}

.submenue6 {
  z-index: 1111111;
  position: absolute;
  left: 100%;
  width: 210px;
  background-color: rgba(244, 219, 226, 0.893);
  display: none;
  top: 150px;
}

.submenue7 {
  z-index: 1111111;
  position: absolute;
  left: 100%;
  width: 210px;
  background-color: rgba(244, 219, 226, 0.893);
  display: none;
  top: 322px;
}
.submenue8 {
  z-index: 1111111;
  position: absolute;
  left: 100%;
  width: 210px;
  background-color: rgba(244, 219, 226, 0.893);
  display: none;
  top: 80px;
}


.nav-item:hover > .submenue {
  display: block;
  animation: slideup 0.3s ease;
}


.submenue li:hover > .submenue2 {
  display: block;
  animation: slideleft 0.3s ease;
 
}
.submenue li:hover > .submenue3 {
  display: block;
  animation: slideleft 0.3s ease;
}
.submenue li:hover > .submenue4 {
  display: block;
  animation: slideleft 0.3s ease;
}
.submenue li:hover > .submenue5 {
  display: block;
  animation: slideleft 0.3s ease;
}
.submenue li:hover > .submenue6 {
  display: block;
  animation: slideleft 0.3s ease;
}
/* submenu of sub menu */

.submenue3 li:hover > .submenue7 {
  display: block;
  animation: slideleft 0.3s ease;
}

.submenue4 li:hover > .submenue8 {
  display: block;
  animation: slideleft 0.3s ease;
}

@keyframes slideup {
  0% {
    opacity: 0;
    transform: translateY(18px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slideleft {
  0% {
    opacity: 0;
    transform: translateX(18px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.down-arrow {
  position: relative;
  top: 2px;
}
.appointment-btn-wrapper {
  display: flex;
  float: right;
  position: relative;
  bottom: 30px;
  transition: 1s ease;
}

.appointment-btn-wrapper button {
  width: 230px;
  height: 45px;
  padding: 5px;
  background-color: rgba(131, 0, 86, 255);
  color: white;
  font-size: 15px;
  font-weight: 600;
  border: none;
  outline: none;
  transition: 1s ease;
}
.appointment-btn-wrapper button:hover {
  background-color: #d844a7;
  transition: 1s ease;
}

/* home main starts */

.home-wraper {
  display: flex;
  width: 100%;
}

.home-left {
  display: flex;
  flex-direction: column;
}
.home-left-bg img {
}
.home-left-bg img {
  position: absolute;
  bottom: -205px;
  z-index: -1111;
  height: 804px;
  width: 727px;
}
.home-content-wraper {
  padding: 10px;
  /* padding-top: 30px; */
}
.home-content {
  width: 85%;
  padding: 10px;
  margin-left: 20px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.home-content-text1 {
  color: rgba(131, 0, 86, 255);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 50px;
  text-transform: uppercase;
}
.home-content-text2 {
  font-size: 20px;
  font-weight: 600;
  color: #a92a7e;
}
.home-content-text3 {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.home-content-text4 {
  font-size: 20px;
  text-transform: capitalize;
}
.home-content-text5 {
  font-size: 20px;
  font-weight: 600;
}

.home-btn button {
  width: 190px;
  height: 45px;
  padding: 5px;
  background-color: rgba(131, 0, 86, 255);
  color: white;
  font-size: 15px;
  font-weight: 600;
  border: none;
  outline: none;
  text-transform: uppercase;
  margin-left: 24px;
  cursor: pointer;
  transition: 0.3s ease;
}
.home-btn button:hover{
  background-color: white;
  color:rgba(131, 0, 86, 255);
  border: 1px solid #79225c;
  transition: 0.3s ease;
}
.right-img img {
  position: relative;
  z-index: 111;
  width: 1182px;
  right: 0;
  bottom: 35px;
}

.home-right {
}
.home-btn {
}
.home-rating {
  padding: 10px;
  padding-left: 24px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.right-overlay {
}
.star-wrapper {
  font-size: 20px;
  font-weight: 700;
}
.star-wrapper i {
  color: orange;
}

.rating-text {
  font-size: 17px;
}
.right-overlay img {
  position: absolute;
  width: 50%;
  z-index: -1;
  right: 0px;
  bottom: -170px;
}

/* ends */

.pb-100 {
  padding-bottom: 100px;
}
.top-services-section {
  width: 100%;
  padding-top: 10px;
}
.top-ssrvices {
  gap: 2px;
  display: flex;
}

.top-icons{
  width: 70px;
  height: 70px;
}

.top-icons1{
  width: 60px;
  height: 60px;
}
.top-service1 {
  background: linear-gradient(to right, rgba(131, 0, 86, 255) 50%, #a92a7e 50%);
  background-size: 200% 100%;
  width: 386px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  color: white;
  transition: background-position 0.3s ease;
}

.top-service1:hover {
  background-position: -100% 0;
}
.bb {
  background-position: -100% 0;
}
.top-services-icone {
  font-size: 40px;
}
.top-services-text {
  font-size: 16px;
  font-weight: 550;
  letter-spacing: 5px;
}

.appointment-section input::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 17px;
}
.form-top-part {
  display: flex;
  gap: 50px;
  padding-bottom: 70px;
  margin-left: 30px;
}
.name {
  border-bottom: 1px solid rgba(131, 0, 86, 255);
  font-size: large;
}
.name input {
  border: none;
  outline: none;
  background: transparent;
  color: black;
  width: 320px;
}

.reason {
  border-bottom: 1px solid rgba(131, 0, 86, 255);
  font-size: large;
}
.reason input {
  border: none;
  outline: none;
  background: transparent;
  color: black;
  width: 550px;
}

.form-bottom {
  display: flex;
  gap: 50px;
  margin-left: 30px;
}

.email {
  border-bottom: 1px solid rgba(131, 0, 86, 255);
  font-size: large;
}
.email input {
  border: none;
  outline: none;
  background: transparent;
  color: black;
  width: 320px;
}
.date {
  border-bottom: 1px solid #830056;
  font-size: large;
}
.date input {
  border: none;
  outline: none;
  background: transparent;
  color: black;
  width: 320px;
}

.b-slot-content {
  display: flex;
  flex-direction: column;
  float: right;
  position: relative;
  bottom: 10px;
}

.b-slot-text {
  font-size: 40px;
  width: 250px;
  text-transform: uppercase;
  font-weight: 650;
}

.appointment-btn {
  width: 230px;
  height: 45px;
  padding: 5px;
  background-color: #830056;
  color: white;
  font-size: 15px;
  font-weight: 600;
  border: none;
  outline: none;
  transition: 0.3s ease;
}
.appointment-btn:hover{
  background-color: #b63089;
  transition: 0.3s ease;
}

.svg-wrapper {
  position: relative;
  bottom: 310px;
}

.svg-wrapper svg {
  overflow: hidden;
  position: absolute;
  z-index: -1;
  width: 938px;
}

.svg-wrapper2 {
  position: relative;
  right: 238px;
  bottom: 234px;
}

.svg-wrapper2 svg {
  overflow: hidden;
  position: absolute;
  z-index: -1;
  width: 338px;
}

.svg-wrapper3 {
  position: relative;
  right: -491px;
  bottom: 425px;
}

.svg-wrapper3 svg {
  overflow: hidden;
  position: absolute;
  transform: rotate(-20deg);
}

.svg-wrapper4 {
  position: relative;
  right: 628px;
  bottom: 1163px;
}
.svg-wrapper4 svg {
  overflow: hidden;
  position: absolute;
  transform: rotate(-180deg);
  color: #fff7f1;
}

@keyframes line-path {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.home-services-wrapper {
  background-color: #f5efee;
  padding-top: 100px;
  padding-bottom: 100px;
}
.services-top {
  margin-left: 20px;
  padding-bottom: 50px;
}

.service-top-texts1 {
  color: #830056;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 50px;
}
.service-top-texts2 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px;
}
.service-top-texts3 {
  font-size: 20px;
}

.services-arrow-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.services-arrow {
  width: 50px;
  height: 50px;
  background-color: #830056;
  font-size: 30px;
  border-radius: 50%;
  text-align: center;
  margin-right: 20px;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}
.services-arrow:hover {
  color: #830056;
  background: white;
  transition: 0.3s ease;
  border: 1px solid #830056;
  
}
.s-card-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;
  margin-left: 20px;
}

.s-card-text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  position: relative;
  bottom: 10px;
}
.s-card-text1 {
  font-size: 80px;
  font-weight: 700;
  color: #f0a0d5;
}
.s-card-text2 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
}

/* zoom on hover  */

.img-wrapper {
  width: 450px;
  height: 600px;
  overflow: hidden;
}

.inner-img {
  height: 650px;
  transition: 0.5s;
}

.inner-img:hover {
  transform: scale(1.1);
}
/*  */
.s-card {
  position: relative;
  bottom: 50px;
}
.img-wrapper1 {
  width: 450px;
  height: 500px;
  overflow: hidden;
}

.inner-img1 {
  height: 600px;
  width: 600;
  transition: 0.5s;
  transform: scale(1.1);
}

.inner-img1:hover {
  transition: 0.5s;
  transform: scale(1);
}

.h-a-img {
  width: 100%;
}
/* home about */

.home-about-wrapper {
  display: flex;
}
.home-about-wrapper-img {
  width: 50%;
}
.home-about-text {
  width: 50%;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 60px;
  background-color: #79225c;
  background-image: url(https://sirpi.wpengine.com/wp-content/uploads/2023/05/Sirpi-Col-Img-overlay-1.png);
  color: white;
}
.home-about-img {
  height: 800px;
  width: 100%;
}

.home-about-top {
  padding-bottom: 50px;
}
.home-about-top h1 {
  font-size: 40px;
  font-weight: 700;
}
.home-about-top-text1 {
  font-size: 16px;
  font-weight: 700;
}
.home-about-top-text3 {
  font-size: 17px;
}

.home-about-middle ul {
  list-style: none;
  text-decoration: none;
  text-align: left;
  padding-top: 20px;
  position: relative;
  right: 20px;
}
.home-about-middle ul li {
  font-size: 35px;
  line-height: 70px;
  cursor: pointer;
  transition: 0.4s ease;
}

.home-about-middle ul li:hover {
letter-spacing: 2px;
transition: 0.4s ease;
color: #ffc4eb;
}

.home-about-bottom {
  padding-top: 20px;
}
.home-about-bottom button {
  background-color: white;
  color: #79225c;
}
.home-about-bottom button:hover {
  background-color: #b63089;
  color: white;
}

.line {
  width: 100%;
  height: 2px;
  border-radius: 70%;
  position: relative;
  overflow: hidden; /* Ensures the overflow is hidden */
}

.line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    transparent 10px,
    #e8d8d8 10px,
    #ddcfcf 20px,
    transparent 20px
  ); /* Adjust the dash length as needed */
  background-size: 20px 100%;
  animation: flow 0.3s linear infinite;
}

@keyframes flow {
  100% {
    background-position: 20px 0; /* Adjust the position based on your dash offset */
  }
}
/* tritment cards */

.contaner {
  display: flex;
}

.card {
  border-radius: 0%;
  overflow: hidden;
}
.card-container {
  position: relative;
  margin: 10px;
  overflow: hidden;
    font-family: "Montserrat", sans-serif;
}
.card-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    3,
    3,
    3,
    0.5
  ); /* Adjust opacity for desired cover effect */
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.listing-bg {
  z-index: 1;
  background-image: linear-gradient(
    to bottom,
    rgba(94, 34, 103, 0.3) 60%,
    #4f1c57
  );
  -webkit-text-fill-color: inherit;
  mix-blend-mode: multiply;
  background-clip: padding-box;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: visible;
  width: 100%;
  height: 100%;
}
.card img {
  height: 500px;
  width: 600px;
  transition: 2s;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(to bottom, rgba(54, 53, 53, 0.5), rgba(98, 96, 96, 0.5));  */
  z-index: 111;
  mix-blend-mode: overlay;
}
/* .overlay1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(88, 83, 83);
  mix-blend-mode: overlay; 
} */

.intro {
  height: 70px;
  width: 600px;
  box-sizing: border-box;
  position: absolute;
  bottom: 20px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
  z-index: 111;
}

.intro h1 {
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: capitalize;
}
.intro p {
  font-size: 25px;
  visibility: hidden;
  opacity: 0;
  transition: 1s;
  width: 400px;
}
.card:hover {
  cursor: pointer;
}
.card:hover .intro {
  height: 220px;
  bottom: 100px;
}
.card:hover p {
  opacity: 1;
  visibility: visible;
}

.in-view {
  transition: 2s;
  /* transform: scale(1.1); */
}

.card-arrow {
  width: 60px;
  background-color: rgb(91, 31, 86);
  height: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.4s ease;
}

.card-arrow:hover {
  width: 80px;
  height: 80px;
  transition: 0.4s ease;
  background-color: #840057;

}
.btn-wrapper1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  visibility: hidden;
  opacity: 0;
}

.card:hover .btn-wrapper1 {
  opacity: 1;
  visibility: visible;
}
/* end */

.tritment-img-wrapper {
  position: relative; /* Added */
  overflow: hidden;
  width: 45%;
}

.treatment-bottom img {
  transform: scale(1.05);
  width: 100%;
  transition: all 0.5s ease;
}

.treatment-bottom img:hover {
  transform: scale(1);
  transition: all 0.5s ease;
}

.tritment-strip {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px; /* Added */
  background-color: rgb(47, 47, 47); /* Brown color strip */
  opacity: 0.6; /* Initially hidden */
  transition: opacity 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tritment-img-wrapper:hover .tritment-strip {
  opacity: 0.9; /* Show strip on hover */
  background-color: #830056;
}

.strip-text {
  color: white;
  padding: 5px 10px;
  font-size: larger;
}

/* end */

/* middle strip */
.middle-strip {
  height: 90px;
  background-color: #830056;
  display: flex;
  justify-content:space-around;
  align-items: center;

}
.home-strip-content{

}
.home-strip-content span{
  color: white;
  font-size: 27px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 1px;


}
.home-strip-content-btn{
 margin-left: 40px;

}
.home-strip-content-btn .strip-btn{
background-color: white;
color: #79225c;
}
.home-strip-content-btn .strip-btn:hover{
background-color: #b63089;
color: white;

  }

/* portfolito afterbefore */

.portfolio-top {
  padding-bottom: 60px;
}
.portfolio-top-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portfolio-top-text h1 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px;
}
.portfolio-top-text1 {
  color: #840057;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 50px;
}
.portfolio-top-text3 {
  text-align: center;
  width: 700px;
  font-size: 20px;
}

/* after before css 1 */

img {
  display: block;
  max-width: 100%;
}

main {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.ab-container {
  display: grid;
  place-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  --position: 50%;
}

.ab-image-container {
  max-width: 900px;
  max-height: 95vh;
  aspect-ratio: 1/1;
}

.ab-slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.ab-image-before {
  position: absolute;
  inset: 0;
  width: var(--position);
}

.ab-slider {
  position: absolute;
  inset: 0;
  cursor: pointer;
  opacity: 0;
  /* for Firefox */
  width: 100%;
  height: 100%;
}

.ab-slider:focus-visible ~ .ab-slider-button {
  outline: 5px solid black;
  outline-offset: 3px;
}

.ab-slider-line {
  position: absolute;
  inset: 0;
  width: 0.2rem;
  height: 100%;
  background-color: #fff;
  /* z-index: 10; */
  left: var(--position);
  transform: translateX(-50%);
  pointer-events: none;
}

.ab-slider-button {
  position: absolute;
  background-color: #fff;
  color: #d25239;
  padding: 0.5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  top: 50%;
  left: var(--position);
  transform: translate(-50%, -50%);
  pointer-events: none;
  width: 70px;
  height: 70px;
}

.ab-slider-button:hover {
  background-color: #d25239;
  color: white;
}
/*  */

img {
  display: block;
  max-width: 100%;
}

main {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.ab1-container {
  display: grid;
  place-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  --position: 50%;
}

.ab1-image-container {
  max-width: 900px;
  max-height: 95vh;
  aspect-ratio: 1/1;
}

.ab1-slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.ab1-image-before {
  position: absolute;
  inset: 0;
  width: var(--position);
}

.ab1-slider {
  position: absolute;
  inset: 0;
  cursor: pointer;
  opacity: 0;
  /* for Firefox */
  width: 100%;
  height: 100%;
}

.ab1-slider:focus-visible ~ .ab1-slider-button {
  outline: 5px solid black;
  outline-offset: 3px;
}

.ab1-slider-line {
  position: absolute;
  inset: 0;
  width: 0.2rem;
  height: 100%;
  background-color: #fff;
  /* z-index: 10; */
  left: var(--position);
  transform: translateX(-50%);
  pointer-events: none;
}

.ab1-slider-button {
  position: absolute;
  background-color: #fff;
  color: #d25239;
  padding: 0.5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  top: 50%;
  left: var(--position);
  transform: translate(-50%, -50%);
  pointer-events: none;
  width: 70px;
  height: 70px;
}

.ab1-slider-button:hover {
  background-color: #d25239;
  color: white;
}

/* experience section  */
.exp-wrapper {
  display: flex;
}
.exp-left-section {
  width: 50%;
  background-color: #79225c;
  background-image: url(https://sirpi.wpengine.com/wp-content/uploads/2023/05/Sirpi-Col-Img-overlay-1.png);
  color: white;
  padding-left: 50px;
  padding-right: 50px;
}
.exp-left-section hr {
  padding-bottom: 30px;
}
.exp-top-text {
  width: 680px;
  padding: 20px;
  margin-top: 50px;
  padding-bottom: 40px;
}
.exp-top-text1 {
  font-size: 16px;
  font-weight: 700;
}
.exp-top-text h1 {
  font-size: 40px;
  font-weight: 700;
}
.exp-top-text3 {
  font-size: 17px;
}
.exp-right-section {
  width: 50%;
}
.exp-img {
  width: 100%;
}

.exp-option-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.exp-option {
  width: 600px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 60px;
  text-align: left;
  gap: 2rem;
  padding-bottom: 30px;
}
.exp-option-icone-wraper {
  width: 90px;
  height: 90px;
  background-color: #b63089;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 50px;
}
.exp-option-icone-wraper img {
 height: 70px;
 width: 70px;
}
.exp-option-text {
  display: flex;
  flex-direction: column;
}
.exp-option-text span {
  font-size: 32px;
  text-transform: uppercase; 
}
.exp-option-text1 {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.4s ease;
}
.exp-option-text1:hover{
 letter-spacing: 5px;
 transition: 0.4s ease;
 color: #f0a0d5;
}
.exp-option-text2 {
  font-size: 16px;
}

/* doctors css */
.doctor-top-text {
  padding-bottom: 60px;
}
.doctor-top-text h1 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px;
}

.doctor-top-text1 {
  color: #840057;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 50px;
  text-transform: uppercase;
}
.doctor-top-text2 {
  text-align: center;
  width: 700px;
  font-size: 20px;
}

.doctor-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.d-img-wrapper {
  width: 300px;
  height: 400px;
  overflow: hidden;
}
.d-img-wrapper img {
  height: 400px;
  transition: 0.5s;
  transform: scale(1.1);
  cursor: pointer;
}

.d-img-wrapper img:hover {
  transform: scale(1);
}
.d-text {
  display: flex;
  flex-direction: column;
}
.d-text1 {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1px;
}
.d-text2 {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.doctor-section-left-content{

}

.doctor-section-first-text span{
  color: #840057;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 50px;
  text-transform: uppercase;

}
.doctor-section-left-content-heading{
  padding-bottom: 15px;

}
.doctor-section-left-content-heading h1{
  font-size: 40px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;

}

.doctor-section-left-content-pera{
 display: flex;
 flex-direction: column;
}
.doctor-section-left-content-pera span{
color: grey;
font-size: 18px;
 }

.doctor-section-left-content-points{
padding-top: 10px;

}
.left-points{
  display: flex;
  flex-direction: column;
  justify-content: center;
 gap: 10px;
 padding-bottom: 30px;

}
.right-points{
  display: flex;
  flex-direction: column;
  justify-content: center;
 gap: 10px;
 padding-bottom: 20px;
}

.points-wrapper{
  display: flex;
gap: 8px;

}
.points-wrapper span{
font-size: 19px;

}
.tick-wraper{
  background-color: #a92a7e;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.point2-left-wrapper{
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}


.home-dec-icone-wrpper{
  width: 80px;
  height: 80px;
  background-color: white;
  text-align: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.home-dec-icone-wrpper i{
  font-size: 40px;
  color: #a92a7e;

}
.point2-left-text-wrapper{
  display: flex;
  flex-direction: column;

}
.point2-left-text1{
  font-size: 27px;
  font-weight: 600;
}
.doc-img-section{
  position: relative;
  z-index:-11111;

}

.doc-info-card{
position: absolute;
z-index: 1;
width: 350px;
height: 170px;
background-color: #a92a7e;
color: white;
bottom: 16px;
right: 16px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
cursor: pointer;
transition: 0.4s ease;
font-family: "Montserrat", sans-serif;
}
.doc-info-card:hover{
  bottom: 20px;
  transition: 0.4s ease;
 
  }
.home-doc-img{
  position: relative;
  z-index: -111;
}
.doc-info-text{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  

}
.doc-info-text-toptext{
  display: flex;
  justify-content:center;
  align-items: center;
  gap:5px;
}
.doc-info-text1{
  font-size: 30px;
  font-weight: 510;

  
}

/* review sectio */
.review-wrapper {
  background-image: url(https://sirpi.wpengine.com/wp-content/uploads/2023/05/testimonial-imagw-01.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f5efee;
  padding-bottom: 50px;
}
.review-top {
  width: 100%;
  padding-top: 100px;
}
.review-top-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.review-top-text1 {
  color: #840057;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 50px;
  text-transform: uppercase;
}
.review-top-text2 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.testimonial-container {
  font-family: "Montserrat", sans-serif;
  width: 80%;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
}

.testimonial-slide {
  display: none;
}

.testimonial-slide.active {
  display: block;
}

.testimonial {
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  transition: 2s ease;
}

.testimonial p {
  font-size: 27px;
  margin-bottom: 10px;
}

.testimonial-name {
  font-weight: bold;
}

/* insta section */

.slider-container11 {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.slider11 {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide11 {
  flex: 0 0 20%; /* Each slide takes up 20% of the container width */
}
.slide11 img {
  width: 100%;
  height: auto;
}





  /* footer */
  .footer-wraper{
    width: 100%;
    /* background-color: rgb(84, 33, 32); */
   background-color: #5B0539;
    color: white;
    padding-top: 30px;
    padding-bottom: 10px;
    font-family: "Montserrat", sans-serif;
  }
  .f-col{
    display: flex;
    flex-direction: column;
justify-content: center;

  }
.f-col h3{
   font-size: 21px;
   font-weight: 700;
  }
.f-col span{
    font-size: 18px;
    line-height: 45px;
   

  }

.f-logo img{
    height: 200px;
    width: 200px;   
}
.f-l-text{
    display: flex;
    gap: 20px;
    align-items: center;  
    width: 340px;
}
.footer-logo-contant{
    margin-left: 30px;
    
}
.f-input-wraper{
    border-bottom: 1px solid white;
    font-size: large;
    color: rgb(255, 255, 255);
    height: 35px;
    width: 315px;
    
}
.f-input-wraper input{
    border: none;
    outline: none;
    background: transparent;
   color: white;
    
}
.f-input-wraper i{
  font-size: 30px;
  color: white;
  float: right;
    
}




/* scroll fade */


.box{
  transform: translateX(-30%);
  transition: opacity 0.5s ease, transform 1s ease;
 
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
  transform: translateX(0);
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


/* right fade on scroll */

.box1{
  transform: translateY(50%);
  transition: opacity 0.5s ease, transform 1s ease;
}

.hidden1{
  opacity: 0;
}

.visible1{
  opacity: 1;
  transform: translateY(0);
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* left fade on scroll */

.box2 {
  transform: translateX(50%); /* Reset transform initially */
  opacity: 0;
  transition: opacity 0.5s ease, transform 1s ease;
  visibility: hidden;
  transition: 1s ease;

}

.visible2 {
  opacity: 1;
  transform: translateX(0);
  visibility: visible;

}



@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* card effect slide */

/* 1 */

.box3{
  transform: translateX(100%);
  transition: opacity 0.5s ease, transform 1s ease;
  z-index: -1;
}

.hidden3 {
  opacity: 0;
}

.visible3 {
  opacity: 1;
  transform: translateX(0);
 z-index: 1;
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* 2 */

.box4{
  transform: translateX(-100%);
  transition: opacity 0.5s ease, transform 1s ease;
  z-index: -1;
}

.hidden4 {
  opacity: 0;
}

.visible4 {
  opacity: 1;
  transform: translateX(0);
  z-index: 1;
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}




/* reveal on load animation left*/
.custom-box {
  transform: translateX(-50%);
  transition: opacity 0.5s ease, transform 1s ease;
}

.hidden-box {
  opacity: 0;
}

.visible-box {
  opacity: 1;
  transform: translateX(0);
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}



/* reveal on load animation right*/
.right-box {
  transform: translateX(30%);
  transition: opacity 0.5s ease, transform 1s ease;
}

.hidden-right {
  opacity: 0;
}

.visible-right {
  opacity: 1;
  transform: translateX(0);
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


.copyright{
  text-align: center;
  font-size: 19px;
}


